<h1>FormControl</h1>
<!--Creamos un imput con el atributo formControl para tener un formulario reactive-->
<input type="text" [formControl]="reactiveColor">
<!--cuando interactuamos con el form la propiedad touched se modifica-->
<!--cuando añadimos o modificamos el valor del form la propiedad pistine se modifica-->
<!--esto se ve reflejado en las  clases que adopta el imput ng-pristine , ng-touvhed , ng valid, etc-->
<p>{{reactiveColor | json}}</p>
<h1>NgModel</h1>
<!--COn NgModule utilizamos un two way data binding para updatear el valor del titulo-->
<!--de esta forma para añadir el control de requerido se debe usar el tag required-->
<input type="text" [(ngModel)]="title" required>
<!--como vemos comparten clases validadoras pero el objeto con el que trabaja no es igual-->
<p>{{title | json}}</p>

<nav>
    <a (click)="toggleEditor('name')">Name Editor</a>
    <br>
    <a (click)="toggleEditor('profile')">Profile Editor</a>
</nav>

<app-name-editor *ngIf="showNameEditor"></app-name-editor>

<app-profile-editor *ngIf="showProfileEditor"></app-profile-editor>